<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/nav.css') }}">
    <title>{% block title %}Kill Your Selfie{% endblock title %}</title>
</head>
<body>
    <div class="navbar">
        <div class="nav-links">
            <a class="title" href="{{ url_for('homepage') }}">
                <img class="header_image" src="{{ url_for('static',filename='assets/images/knife.gif') }}" alt="knife">
                kill your selfie !!!
            </a>
            <a href="{{ url_for('new_record') }}">New record</a>
        </div>
        <div class="user-selector">
            <img src="{{ url_for('static',filename='assets/images/profile-circle.svg') }}" id="user-icon"></img>

            {%if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">{{ current_user.username }}</a>
            {%else%}
            <a href="{{ url_for('login') }}">Login</a>
            {%endif%}
        </div>
    </div>
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
