{% extends "skeleton.html" %}

{% block extra_head_tags %}
  <link href="{{ url_for('static',filename='styles/navbar-fixed.css' ) }}" rel="stylesheet">
{% endblock extra_head_tags %}

{% block base %}
  <body>
    <nav class="navbar border-bottom navbar-expand-lg fixed-top bg-dark">
      <div class="container-fluid">
        {% include "brand.html" %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% include "navbar.html" %}
        </div>
      </div>
    </nav>

    <main class="container">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ page_title }}</h1>
        {% block header_items %}
        {% endblock header_items %}
      </div>
      {% with messages = get_flashed_messages()%}
        {% if messages%}
          {% for message in messages%}
            <div class="alert alert-info alert-dismissible fade show">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {%endfor%}
        {%endif%}
      {%endwith%}
      {% block content %}

      {% endblock content %}
    </main>
  </body>
{% endblock base %}
