{% extends "base.html" %}

{% block title %}Kill Your Selfie - Home{% endblock title %}

{% block content %}
    <h1> Homepage </h1>
    <div class="graph-canvas" >
    <canvas id="bargraph-weekly" data-chart='{{ weekly_bar_data|tojson }}'></canvas>
    </div>

    <div class="statistics-table">
        <table>
            {% for key, value in stat_table_data.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="graph-canvas" >
        {{ location_map|safe }}
    </div>
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/weekly-bar-graph.js') }}"></script>
{%endblock scripts%}