{% extends "form.html" %}

{% set page_title = "User settings" %}
{% set form_method = "POST" %}
{% set form_action = "/user-settings" %}

{% block form_content %}
  <!--
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    Leave input fields empty to keep current settings
  </div>
  -->

  <div class="row">
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="username" placeholder="{{ current_user.username }}">
      </div>
    </div>


    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email" placeholder="{{ current_user.email }}">
        <div class="invalid-feedback">Please enter a valid email address.</div>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="password" placeholder="●●●●●">
      </div>
    </div>

  </div>
  <button type="submit" class="btn btn-primary">Update settings</button>
{% endblock form_content %}