:root {
    --bg-color: #251C26;
    --navbar-color: #322633;
    --navbar-border-color: #4B394D;
    --button-normal-color: #d14081;
    --title-color: #ffd3e9;
    --title-shadow-color: #8b3f62;
    --button-highlight-color: #ef798a;
    --button2-color: #abd48c;
    --button2-highlight-color: #ccf5ac;
    --text-primary-color: #f9f5e3;
    --zeus-color: #ff7f00;
}
