@import url("colors.css");

.navbar {
    height: 40px;
    padding: 5px 10px;
    margin: 0;
    background-color: var(--navbar-color);
    border-bottom: 1px dashed var(--button-normal-color);
    display:flex;
    flex-direction: row;
    align-items:center;
}

.nav-links {
    display:flex;
    flex-direction: row;
    align-items:center;
    flex-grow: 1;
    gap: 30px;
}

.nav-links a {
    border: 2px solid #fff0;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: var(--button-highlight-color);
}

.nav-links a.title {
    font-size: 20pt;
    font-style: italic;
    color: var(--title-color);
    text-shadow: 2px 2px var(--title-shadow-color);
}

.nav-links :hover:not(img) {
    border: 2px solid var(--navbar-border-color);
    background-color: var(--navbar-border-color);
    border-radius: 5px;
    padding: 7px;
}

.user-selector {
    margin-right: 2vw;
    height: 30px;
    display: flex;
    right:0;
    align-items: center;
}
#user-icon {
    margin: 8px;
}
